@namespace RizzyUI.Docs.Components.Pages.Examples.Dashboard.Components
@using RizzyUI
@using Blazicons

<SidebarGroup>
    <SidebarGroupLabel>Documents</SidebarGroupLabel>
    <SidebarGroupContent>
        <SidebarMenu>
            <SidebarMenuItem><SidebarMenuButton><Blazicon Svg="MdiIcon.FileDocumentOutline" /> <span>Data Library</span></SidebarMenuButton></SidebarMenuItem>
            <SidebarMenuItem><SidebarMenuButton><Blazicon Svg="MdiIcon.FileChartOutline" /> <span>Reports</span></SidebarMenuButton></SidebarMenuItem>
            <SidebarMenuItem><SidebarMenuButton><Blazicon Svg="MdiIcon.Presentation" /> <span>Presentations</span></SidebarMenuButton></SidebarMenuItem>
        </SidebarMenu>
    </SidebarGroupContent>
</SidebarGroup>
