
@namespace RizzyUI.Docs.Components.Pages.Examples.Dashboard.Components
@using RizzyUI
@using Blazicons

<SidebarGroup>
    <SidebarGroupContent>
        <SidebarGroupLabel>Home</SidebarGroupLabel>
        <SidebarMenu>
            <SidebarMenuItem><SidebarMenuButton Tooltip="Dashboard"><Blazicon Svg="MdiIcon.ViewDashboard" /> <span>Dashboard</span></SidebarMenuButton></SidebarMenuItem>
            <SidebarMenuItem><SidebarMenuButton Tooltip="Lifecycle"><Blazicon Svg="MdiIcon.FormatListBulleted" /> <span>Lifecycle</span></SidebarMenuButton></SidebarMenuItem>
            <SidebarMenuItem><SidebarMenuButton Tooltip="Analytics"><Blazicon Svg="MdiIcon.ChartBar" /> <span>Analytics</span></SidebarMenuButton></SidebarMenuItem>
            <SidebarMenuItem><SidebarMenuButton Tooltip="Projects"><Blazicon Svg="MdiIcon.Folder" /> <span>Projects</span></SidebarMenuButton></SidebarMenuItem>
            <SidebarMenuItem><SidebarMenuButton Tooltip="Team"><Blazicon Svg="MdiIcon.AccountMultiple" /> <span>Team</span></SidebarMenuButton></SidebarMenuItem>
        </SidebarMenu>
    </SidebarGroupContent>
</SidebarGroup>