@namespace RizzyUI.Docs.Components.Pages.Examples.Dashboard.Components
@using RizzyUI
@using Blazicons

<SidebarMenu>
    <SidebarMenuItem>
        <SidebarMenuButton>
            <RzAvatar class="size-6">
                <AvatarImage ImageSource="/images/profile/51.jpg" AlternateText="Sofia Davis" />
                <AvatarFallback>SD</AvatarFallback>
            </RzAvatar>
            <span>Sofia Davis</span>
            <Blazicon Svg="MdiIcon.ChevronDown" class="ml-auto" />
        </SidebarMenuButton>
    </SidebarMenuItem>
</SidebarMenu>
