@namespace RizzyUI
@inherits RzComponent<MenubarContent.Slots>

<template x-teleport="body">
    <div @attributes="AdditionalAttributes"
         x-ref="content"
         id="@ContentId"
         data-floating
         role="menu"
         aria-labelledby="@TriggerId"
         x-show="open"
         x-cloak
         x-transition:enter="transition ease-out duration-100"
         x-transition:enter-start="opacity-0 scale-95"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-95"
         x-on:click.outside="handleOutsideClick"
         x-on:keydown.down.prevent="focusNextItem"
         x-on:keydown.up.prevent="focusPreviousItem"
         x-on:keydown.home.prevent="focusFirstItem"
         x-on:keydown.end.prevent="focusLastItem"
         x-on:keydown.right.prevent="focusNextMenubarTrigger"
         x-on:keydown.left.prevent="focusPreviousMenubarTrigger"
         class="@SlotClasses.GetBase()"
         data-slot="menubar-content">
        <div class="@SlotClasses.GetInnerContainer()">
            @ChildContent
        </div>
    </div>
</template>
