@namespace RizzyUI
@inherits RzComponent<MenubarSubContent.Slots>

<div id="@Id"
     @attributes="@AdditionalAttributes"
     class="@SlotClasses.GetBase()"
     role="menu"
     x-show="open"
     x-cloak
     x-on:keydown.down.prevent="focusNextItem"
     x-on:keydown.up.prevent="focusPreviousItem"
     x-on:keydown.left.prevent="closeSubmenu"
     x-on:keydown.escape.prevent="closeSubmenu"
     data-slot="menubar-sub-content">
    @ChildContent
</div>
