@page "/"
@using RizzyUI.Docs.Examples

<PageTitle>Home</PageTitle>

<section class="w-full mx-auto max-w-7xl">
	<div class="flex items-center gap-2 border border-slate-300 hover:border-slate-400/70 rounded-full w-max mx-auto px-4 py-2">
		<span>Fully HTMX Compatible</span>
		<button class="flex items-center gap-1 font-medium">
			<span>Read more</span>
			<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.959 9.5h11.083m0 0L9.501 3.958M15.042 9.5l-5.541 5.54" stroke="#050040" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</button>
	</div>
	<div class="flex items-center w-max mx-auto">
		<img src="/images/rizzy-logo-wb.svg" alt="RizzyUI" class="my-5 h-16 md:h-24"/>
	</div>
	<h5 class="text-4xl md:text-7xl font-bold text-center mx-auto my-5">
		Light as a Feather, <RzAuroraText>Powered by Razor</RzAuroraText>.
	</h5>

	<p class="text-sm md:text-base mx-auto max-w-2xl text-center my-5 max-md:px-2">RizzyUI gives you a component model for SSR apps so you can ship modern UI without client bloat or persistent connection overhead.</p>

	<div class="mx-auto w-full flex items-center justify-center gap-3 my-5">
		<a href="/docs" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML">
			<RzButton Size="Size.ExtraLarge" Variant="ThemeVariant.Inverse" class="px-6 py-3 rounded-full font-medium transition">
				<span>Get Started</span>
			</RzButton></a>
		
		<a href="/docs/interactivity/introduction" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML">
			<RzButton Size="Size.ExtraLarge" Variant="ThemeVariant.Inverse" Outline class="px-6 py-3 rounded-full font-medium transition">
				<span>Learn More</span>
				<Blazicon Icon="@Lucide.ChevronRight"/>
			</RzButton></a>
	</div>
</section>
<section class="my-8 py-2 mx-auto w-full max-w-7xl">
	<div class="container">
		<section class="theme-container hidden md:block">
			<div class="mx-auto grid gap-8 py-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-6 2xl:gap-8">
				<div class="flex flex-col gap-6 *:[div]:w-full *:[div]:max-w-full">
					<FieldDemo />
				</div>
				<div class="flex flex-col gap-6 *:[div]:w-full *:[div]:max-w-full">
					<EmptyAvatarGroup />
					<SpinnerBadge />
					<ButtonGroupInputGroup />
					<FieldSlider />
					<InputGroupDemo />
				</div>
				<div class="flex flex-col gap-6 *:[div]:w-full *:[div]:max-w-full">
					<InputGroupButtonExample />
					<ItemDemo />
					<FieldSeparator class="my-4">Appearance Settings</FieldSeparator>
					<AppearanceSettings />
				</div>
				<div class="order-first flex flex-col gap-6 lg:hidden xl:order-last xl:flex *:[div]:w-full *:[div]:max-w-full">
					<NotionPromptForm />
					<ButtonGroupDemo />
					<FieldCheckbox />
					<div class="flex justify-between gap-4">
						<ButtonGroupNested />
						<ButtonGroupPopover />
					</div>
					<FieldHear />
					<SpinnerEmpty />
				</div>
			</div>
		</section>
	</div>		        
</section>



