@page "/table-demo"

<PageTitle>RzTable Demo</PageTitle>

<RzHeading Level="HeadingLevel.H1">RzTable Demo</RzHeading>
<RzParagraph>
    This demo shows the minimal table-composition API for <code>RzTable</code>.
</RzParagraph>

<div class="my-6">
    <TableDemo />
</div>
