
@page "/examples/tasks"
@namespace RizzyUI.Docs.Components.Pages.Examples.Tasks
@using RizzyUI
@using RizzyUI.Docs.Components.Pages.Examples.Tasks.Components

<PageTitle>Tasks</PageTitle>

<div class="hidden h-[calc(100vh-4rem)] flex-1 flex-col gap-8 p-8 md:flex">
    <div class="flex items-center justify-between gap-2">
        <div class="flex flex-col gap-1">
            <h2 class="text-2xl font-semibold tracking-tight">Welcome back!</h2>
            <p class="text-muted-foreground">Here's a list of your tasks for this month.</p>
        </div>
        <div class="flex items-center gap-2">
            <RzButton Variant="ThemeVariant.Ghost" class="relative h-8 w-8 rounded-full">
                <RzAvatar class="h-9 w-9">
                    <AvatarImage ImageSource="/images/profile/51.jpg" AlternateText="shadcn" />
                    <AvatarFallback>SC</AvatarFallback>
                </RzAvatar>
            </RzButton>
        </div>
    </div>
    
    <TasksDataTable />
</div>