@import "../js/lib/notify/style.css";
@import "../js/lib/aspnet-client-validation/style.css";
@import "../js/lib/highlightjs/highlightjs.css";
@import "../js/lib/flatpickr/flatpickr.css";
@import "../js/lib/tom-select/tom-select.rizzy.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6231 0.1880 259.8145);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9670 0.0029 264.5419);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9846 0.0017 247.8389);
    --muted-foreground: oklch(0.5510 0.0234 264.3637);
    --accent: oklch(0.9514 0.0250 236.8242);
    --accent-foreground: oklch(0.3791 0.1378 265.5222);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.6231 0.1880 259.8145);
    --chart-1: oklch(0.6231 0.1880 259.8145);
    --chart-2: oklch(0.5461 0.2152 262.8809);
    --chart-3: oklch(0.4882 0.2172 264.3763);
    --chart-4: oklch(0.4244 0.1809 265.6377);
    --chart-5: oklch(0.3791 0.1378 265.5222);
    --sidebar: oklch(0.9846 0.0017 247.8389);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6231 0.1880 259.8145);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9514 0.0250 236.8242);
    --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.6231 0.1880 259.8145);
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.6231 0.1880 259.8145);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.3791 0.1378 265.5222);
    --accent-foreground: oklch(0.8823 0.0571 254.1284);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.6231 0.1880 259.8145);
    --chart-1: oklch(0.7137 0.1434 254.6240);
    --chart-2: oklch(0.6231 0.1880 259.8145);
    --chart-3: oklch(0.5461 0.2152 262.8809);
    --chart-4: oklch(0.4882 0.2172 264.3763);
    --chart-5: oklch(0.4244 0.1809 265.6377);
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9219 0 0);
    --sidebar-primary: oklch(0.6231 0.1880 259.8145);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.3791 0.1378 265.5222);
    --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.6231 0.1880 259.8145);
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --scrollbar-track: var(--color-border);
    --scrollbar-thumb: var(--color-muted-foreground);    
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@theme inline {
    --color-white: #ffffff;
    --color-black: #000000;
    
    --info: var(--color-sky-600);
    --info-foreground: var(--color-white);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-white);
    --success: var(--color-green-600);
    --success-foreground: var(--color-white);
    
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);

    --scrollbar-track: var(--color-border);
    --scrollbar-thumb: var(--color-muted-foreground);
    --scrollbar-width: 8px;
    --scrollbar-radius: 4px;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    html {
        @apply scroll-smooth;
    }
    body {
        @apply bg-background text-foreground overscroll-none antialiased;
    }
    body, .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

        &::-webkit-scrollbar {
            width: var(--scrollbar-width);
        }
        &::-webkit-scrollbar-track {
            background: var(--scrollbar-track);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb);
            border-radius: var(--scrollbar-radius);
        }
    }
    /* Alpine.js */
    [x-cloak] {
        display: none !important;
    }
}

/* Prose */
@layer components {
    .prose {
        @apply max-w-[65ch] text-foreground;

        & h1:not(.not-prose h1) {
            @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
        }

        & h2:not(.not-prose h2) {
            @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight mt-12 first:mt-0;
        }

        & h3:not(.not-prose h3) {
            @apply scroll-m-20 text-2xl font-semibold mt-12 tracking-tight first:mt-0;
        }

        & h4:not(.not-prose h4) {
            @apply scroll-m-20 text-xl font-semibold mt-12 tracking-tight first:mt-0;
        }

        & h5:not(.not-prose h5) {
            @apply scroll-m-20 text-lg font-semibold mt-12 tracking-tight first:mt-0;
        }

        & h6:not(.not-prose h6) {
            @apply scroll-m-20 text-base font-semibold mt-12 tracking-tight first:mt-0;
        }

        & h1:not(.not-prose h1), & h2:not(.not-prose h2), & h3:not(.not-prose h3), & h4:not(.not-prose h4), & h5:not(.not-prose h5), & h6:not(.not-prose h6) {
            & + p {
                @apply mt-0;
            }
        }

        & p:not(.not-prose p) {
            @apply leading-[175%] [&:not(:first-child)]:mt-6;
        }

        & li:not(.not-prose li) {
            @apply leading-[175%];
        }

        & a:not(.not-prose a) {
            @apply font-medium text-primary underline underline-offset-4;
        }

        & blockquote:not(.not-prose blockquote) {
            @apply mt-6 border-l-2 pl-6 italic;
        }

        & table:not(.not-prose table) {
            @apply my-6 w-full overflow-y-auto;

            & thead tr {
                @apply m-0 border-t p-0 even:bg-muted;
            }

            & th {
                @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
            }

            & tbody tr {
                @apply m-0 border-t p-0 even:bg-muted;
            }

            & td {
                @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
            }
        }

        & ul:not(.not-prose ul) {
            @apply my-6 ml-6 list-disc [&>li]:mt-2;

            & p {
                @apply my-0 inline;
            }
        }

        & ol:not(.not-prose ol) {
            @apply my-6 ml-6 list-decimal [&>li]:mt-2;

            & p {
                @apply my-0 inline;
            }
        }

        & pre:not(.not-prose pre) {
            @apply bg-muted rounded-md p-4 my-6 text-sm overflow-y-auto;
        }

        & code:not(pre code):not(.not-prose code) {
            @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
        }

        & .lead:not(.not-prose .lead) {
            @apply text-xl text-muted-foreground
        }

        & .large:not(.not-prose .large) {
            @apply text-lg font-semibold;
        }

        & .small:not(.not-prose .small) {
            @apply text-sm font-medium leading-none;
        }

        & .muted:not(.not-prose .muted) {
            @apply text-sm text-muted-foreground;
        }

        & img:not(.not-prose img), & picture:not(.not-prose picture), & video:not(.not-prose video) {
            @apply my-6;
        }

        & picture > img:not(.not-prose picture > img) {
            @apply my-0;
        }

        & kbd:not(.not-prose kbd) {
            @apply rounded-md bg-muted px-1.5 py-0.5 text-xs font-semibold;
        }

        & hr {
            @apply my-10;
        }

        & dl:not(.not-prose dl) {
            @apply my-6;

            & dt {
                @apply font-semibold mt-6 tracking-tight first:mt-0;
            }
        }

        & details:not(.not-prose details) {
            @apply mt-6;

            & summary {
                @apply cursor-pointer font-semibold mt-6 tracking-tight;
            }

            & p {
                @apply [&:first-of-type]:mt-2;
            }
        }

        & mark:not(.not-prose mark) {
            @apply bg-yellow-300;
        }

        & small:not(.not-prose small) {
            @apply text-xs leading-none;
        }
    }
}

/* Calendar */
@layer components {
    .rizzy-vc-arrow::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;

        background-color: var(--foreground);

        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 16c-.3 0-.5-.1-.7-.3l-6-6c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.3 5.3 5.3-5.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-6 6c-.2.2-.4.3-.7.3'/%3E%3C/svg%3E") no-repeat center / contain;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 16c-.3 0-.5-.1-.7-.3l-6-6c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l5.3 5.3 5.3-5.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-6 6c-.2.2-.4.3-.7.3'/%3E%3C/svg%3E") no-repeat center / contain;
    }
}

@layer utilities {
    .prose-compact { max-width: 56ch; }
    .prose-comfortable { max-width: 64ch; }
    .prose-relaxed { max-width: 72ch; }
    .prose-wide { max-width: 80ch; }
    .prose-ultrawide { max-width: 100ch; }
    .prose-full { max-width: none; }
}

body {
    --page-scrollbar-width: 0px;
    margin-right: var(--page-scrollbar-width);
}

[x-cloak] {
    display: none !important;
}

svg[blazicon] {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

pre:has(> code) {
    border-color: var(--border);
    border-radius: var(--radius-lg);
}

/* Custom Scrollbar Styles */
.scrollbar-hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar-hover::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    transition: background-color 0.3s;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
    background-color: rgba(107, 114, 128, 0.7);
}

.scrollbar-hover {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.scrollbar-hover:hover {
    scrollbar-color: #6b7280 transparent;
}

/* Grid Pattern */
.grid-pattern {
    background: repeating-linear-gradient( 90deg, var(--color-muted) 0, var(--color-muted) 5%, transparent 0, transparent 50% ), repeating-linear-gradient( 180deg, var(--color-muted) 0, var(--color-muted) 5%, transparent 0, transparent 50% );
    background-size: 1.5em 1.5em;
    background-color: var(--color-background);
    opacity: 1;

    @variant dark {
        background: repeating-linear-gradient( 90deg, var(--color-muted) 0, var(--color-muted) 5%, transparent 0, transparent 50% ), repeating-linear-gradient( 180deg, var(--color-muted) 0, var(--color-muted) 5%, transparent 0, transparent 50% );
        background-color: var(--color-background);
    }
}
/* Coloris theme integration */
:root {
    --clr-background: var(--popover);
    --clr-text: var(--popover-foreground);
    --clr-border: var(--border);
    --clr-marker: var(--ring);
    --clr-alpha: var(--muted);
    --clr-shadow: var(--shadow-lg);
}

.clr-picker {
    border-radius: var(--radius);
    border-color: var(--clr-border);
    box-shadow: var(--clr-shadow);
}
