@import "tailwindcss";
@import "./rizzyui-theme.css" theme(static);

@plugin "@tailwindcss/forms";

@source "../../../../src/RizzyUI/";




:root {
    --clr-background: var(--popover);
    --clr-text: var(--popover-foreground);
    --clr-outline: var(--border);
    --clr-picker-bg: var(--popover);
    --clr-picker-border: var(--border);
}

.clr-field {
    border-radius: var(--radius);
}
