
@namespace RizzyUI
@inherits RzComponent<CommandSeparator.Slots>

<div @attributes="AdditionalAttributes"
     id="@Id"
     class="@SlotClasses.GetBase()"
     data-slot="command-separator"
     role="separator">
</div>
