
@inherits LayoutComponentBase
@using System.Reflection
@using RizzyUI
@using Blazicons

<RzSidebarProvider>
    <Sidebar>
        <SidebarHeader>
            <SidebarMenu>
                <SidebarMenuItem>
                    <SidebarMenuButton Size="Size.Large" AsChild>
                        <a href="/">
                            <img src="/images/rizzy-icon.svg" class="size-10" alt="RizzyUI Icon" />

                            <div class="flex flex-col gap-0.5 leading-none">
                                <span class="font-medium">RizzyUI Docs</span>
                                <span class="text-xs">v@(typeof(RzComponent).Assembly.GetName().Version)</span>
                            </div>
                        </a>
                    </SidebarMenuButton>
                </SidebarMenuItem>
            </SidebarMenu>
        </SidebarHeader>
        <SidebarContent>
            <SidebarGroup>
                <SidebarMenu>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/" class="font-medium">Home</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/themes" class="font-medium">Themes</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="/components" class="font-medium" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML">Components</a>
                        </SidebarMenuButton>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Interactivity</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/introduction" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Introduction</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/alpine-fundamentals" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Alpine.js Fundamentals</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/alpine-code-behind" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Your First Code-Behind</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/state-reactivity" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>State and Reactivity</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/lifecycle" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Lifecycle and Initialization</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/lazy-loading" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Optimizing with Lazy Loading</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/plugins" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Plugins & Directives</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/orchestration" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Advanced: Orchestration</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/docs/interactivity/debugging" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Debugging and Best Practices</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/co-located-js" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Additional Examples</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Display</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/avatar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Avatar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/badge" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Badge</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/kbd" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Kbd</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/item" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Item</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/separator" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Separator</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/table" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Table</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/progress" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Progress</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Feedback</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/alert" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Alert</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/alert-dialog" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Alert Dialog</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/dialog" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Dialog</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/toastnotification" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Toast Notification</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/tooltip" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Tooltip</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/sheet" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Sheet</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/empty" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Empty</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/spinner" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Spinner</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/skeleton" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Skeleton</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/steps" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Steps</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Forms</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/buttons" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Button</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/button-group" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Button Group</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/calendar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Calendar</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>         
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/calendar-provider" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Calendar Provider</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>                             
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/checkbox" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Checkbox</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/combobox" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Combobox</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/color-picker" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Color Picker</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/color-swatch" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Color Swatch</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/file-input" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>File Input</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/input" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Input</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/input-otp" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Input OTP</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/native-select" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Native Select</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>                            
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/radiogroup" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Radio Group</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/switch" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Switch</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                            <SidebarMenuItem>
                                <SidebarMenuButton AsChild>
                                    <a href="/components/toggle" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Toggle</span></a>
                                </SidebarMenuButton>
                            </SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Navigation</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/breadcrumb" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Breadcrumb</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/collapsible" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Collapsible</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/command" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Command</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/dropdown" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Dropdown Menu</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/link" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Link</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/menubar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Menubar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/navigation-menu" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Navigation Menu</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/scroll-area" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Scroll Area</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/popover" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Popover</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/pagination" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Pagination</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/sidebar" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Sidebar</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/tabs" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Tabs</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                    <SidebarMenuItem>
                        <SidebarMenuButton AsChild>
                            <a href="#" class="font-medium">Layout</a>
                        </SidebarMenuButton>
                        <SidebarMenuSub>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/accordion" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Accordion</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/aspect-ratio" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Aspect Ratio</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/card" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Card</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/carousel" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Carousel</span></a></SidebarMenuButton></SidebarMenuItem>
                            <SidebarMenuItem><SidebarMenuButton AsChild><a href="/components/markdown" hx-boost="true" hx-select="#content" hx-target="#content" hx-swap="outerHTML" x-on:click="close" aria-current="page"><span>Markdown</span></a></SidebarMenuButton></SidebarMenuItem>
                        </SidebarMenuSub>
                    </SidebarMenuItem>
                </SidebarMenu>
            </SidebarGroup>
        </SidebarContent>
    </Sidebar>

    <!-- Main Content Area -->
    <SidebarInset class="h-screen">
        <header class="bg-secondary/75 flex h-16 shrink-0 items-center items-center justify-between gap-2 border-b px-4 py-2 backdrop-blur-xl transition-[width,height] ease-in-out group-has-data-[collapsible=icon]/sidebar-wrapper:h-12">
            <div class="flex items-center gap-2">
                <SidebarTrigger />
                <RzSeparator Orientation="Orientation.Vertical" class="mr-2 h-10" />
                <div data-slot="header-logo" class="w-32 shrink-0 overflow-hidden px-2 opacity-0 transition-[opacity]
    duration-200 group-has-[[data-state=collapsed]]/sidebar-wrapper:py-2
    group-has-[[data-state=collapsed]]/sidebar-wrapper:opacity-100
    md:w-50"><img src="/images/rizzy-logo-wb.svg" alt="RizzyUI" class="h-full w-full"></div>
            </div>

            <!-- Right-aligned items -->
            <div class="flex items-center gap-4">
                <div x-data="docSearch" id="docsearch" class="bg-background [&>button:first-child]:!h-8"></div>
                <RzDarkModeToggle/>
                <a href="https://github.com/jalexsocial/RizzyUI"><RzButton Variant=ThemeVariant.Default Size="Size.Small" class="text-xl bg-background px-2" Outline><Blazicon Svg="MdiIcon.Github" /></RzButton></a>
            </div>
        </header>

        <main class="flex flex-1 flex-col overflow-y-auto min-h-0" id="content">
            <div class="flex flex-1 flex-col gap-4 p-4">
                @Body
            </div>
            <Footer />
        </main>
    </SidebarInset>
</RzSidebarProvider>

@code {
    [CascadingParameter]
    private RzTheme Theme { get; set; } = null!;
}