
@namespace RizzyUI
@typeparam TItem
@inherits RzComponent<RzTableSlots>

<CascadingValue Value="this" Name="ParentRzTable" IsFixed="true">
    <HtmlElement Element="div" @attributes="AdditionalAttributes" id="@Id" data-slot="table" class="@SlotClasses.GetBase()">
        <table class="@SlotClasses.GetTable()" id="@TableId" data-slot="table-element"> 
            @ChildContent
        </table>
    </HtmlElement>
</CascadingValue>
